* {
  margin: 0;
  padding: 0;
}

body {
  background: dimgray;
}

.game-box-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px); 
}

.game-box {
  display: grid;
  border: 1px solid black;
  align-items: center;
  justify-items: center;
}

.selected {
  background: #999;
}