* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: dimgray;
}

.game-box-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.game-box {
  display: grid;
  border: 1px solid black;
  align-items: center;
  justify-items: center;
}

.ex:after {
  font-size: 50px;
  content: "X";
}

.oh:after {
  font-size: 50px;
  content: "0";
}